<a href="https://colab.research.google.com/github/quangdad/DataMining/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import missingno as msno


# Load and preprocess data
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data', header=None, names=['Class', 'Age', 'Sex', 'Steroid', 'Antivirals', 'Fatigue', 'Malaise', 'Anorexia', 'LiverBig', 'LiverFirm', 'SpleenPalpable', 'Spiders', 'Ascites', 'Varices', 'Bilirubin', 'AlkPhosphate', 'SGOT', 'Albumin', 'Protime', 'Histology'])

In [35]:
data.head(10)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
8,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
9,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,120,3.9,?,1

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class           155 non-null    int64
 1   Age             155 non-null    int64
 2   Sex             155 non-null    int64
 3   Steroid         155 non-null    object
 4   Antivirals      155 non-null    int64
 5   Fatigue         155 non-null    object
 6   Malaise         155 non-null    object
 7   Anorexia        155 non-null    object
 8   LiverBig        155 non-null    object
 9   LiverFirm       155 non-null    object
 10  SpleenPalpable  155 non-null    object
 11  Spiders         155 non-null    object
 12  Ascites         155 non-null    object
 13  Varices         155 non-null    object
 14  Bilirubin       155 non-null    object
 15  AlkPhosphate    155 non-null    object
 16  SGOT            155 non-null    object
 17  Albumin         155 non-null    object
 18  Protime         155 non-null    object
 19  Histology       155 non-null    int64
dtypes: int64(5), object(15)
memory usage: 24.3+ KB

In [53]:
data = data.replace('?', np.nan).dropna()

In [36]:
data.head(10)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
8,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
9,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,120,3.9,?,1

In [54]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Class', axis=1), data['Class'], test_size=0.2, random_state=42)

# Train decision tree model
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)

# Make predictions on test set
y_pred = dt_model.predict(X_test)

# Calculate accuracy on test set
accuracy = accuracy_score(y_test, y_pred)
print(f'Test set accuracy: {accuracy:.2f}')

Test set accuracy: 0.88

In [49]:
# Load and preprocess test data
test_data = pd.read_csv('patients.csv', header=None, names=['Class', 'Age', 'Sex', 'Steroid', 'Antivirals', 'Fatigue', 'Malaise', 'Anorexia', 'LiverBig', 'LiverFirm', 'SpleenPalpable', 'Spiders', 'Ascites', 'Varices', 'Bilirubin', 'AlkPhosphate', 'SGOT', 'Albumin', 'Protime', 'Histology'])
test_data = test_data.replace('?', np.nan).dropna()

test_data.head(10)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
0,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.1,100,2
1,1,50,1,2,2,1,2,2,2,1,1,2,1,1,2.8,155,75,2.4,32,2
2,2,54,1,1,2,1,1,2,2,2,2,2,1,2,1.2,85,92,3.1,66,2
3,1,57,1,1,2,1,1,2,2,2,2,1,1,2,4.6,82,55,3.3,30,2
4,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.0,85,30,4.5,0,2
5,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.0,115,52,3.4,50,2
6,1,38,1,1,2,2,2,2,2,1,2,2,2,2,0.4,243,49,3.8,90,2
7,2,25,1,2,2,1,2,2,1,1,1,1,1,1,1.3,181,181,4.5,57,2
8,2,38,1,2,2,2,2,2,2,1,2,1,2,1,1.6,130,140,3.5,56,2
9,2,45,1,2,1,2,2,2,2,2,2,2,2,2,1.3,85,44,4.2,85,2

In [47]:
# Make predictions on test data
X_test = test_data.drop('Class', axis=1)
y_test = test_data['Class']

In [50]:
#Make predictions on test data
y_pred = dt_model.predict(X_test)

print('Kt qu d on trn tp kim tra:')
for i in range(len(y_pred)):
    sample = X_test.iloc[[i]]
    prediction = dt_model.predict(sample)[0]
    if prediction == 1:
        print(f'Mu {i+1}: Bnh nhn khng b nhim virus vim gan B')
    else:
        print(f'Mu {i+1}: Bnh nhn b nhim virus vim gan B')

Kt qu d on trn tp kim tra:
Mu 1: Bnh nhn b nhim virus vim gan B
Mu 2: Bnh nhn khng b nhim virus vim gan B
Mu 3: Bnh nhn b nhim virus vim gan B
Mu 4: Bnh nhn khng b nhim virus vim gan B
Mu 5: Bnh nhn b nhim virus vim gan B
Mu 6: Bnh nhn b nhim virus vim gan B
Mu 7: Bnh nhn khng b nhim virus vim gan B
Mu 8: Bnh nhn b nhim virus vim gan B
Mu 9: Bnh nhn b nhim virus vim gan B
Mu 10: Bnh nhn b nhim virus vim gan B